.meshlines {
    position: absolute;
    top: 0;
    right: 4px;
    bottom: 0;
    left: -1px;
    width: 100%;
    height: 100%;
    overflow: visible;
    opacity: 1;
    visibility: visible;
}

.blurrotateblend {
    position: absolute;
    top: 203px;
    right: 490px;
    bottom: 121px;
    left: 490px;
    width: 300px;
    height: 300px;
    opacity: 1;
    visibility: visible;
    border-radius: 500px;
    background: radial-gradient(circle, rgba(225,166,255,1) 0%, rgba(18,173,230,1) 50%, rgba(76,99,252,1) 100%);
    filter: blur(32px);
    mix-blend-mode: overlay;
    transform: perspective(1200px) rotate3d(0, 0, 1, 360deg);
    animation: loop 10s linear infinite;
}

.conicunderblur {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: conic-gradient(#E1A6FF, #12ADE6, #4C63FC);
    opacity: 1;
    visibility: visible;
    transform: scale(0.8);
    animation: mirror 10s linear infinite;
}

@keyframes loop {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes mirror {
    0% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}
