.navbar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
  }
  
  .navbarHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .logoFrame {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 30px;
    height: 30px;
    background: radial-gradient(circle, #5C2EB8 0%, #5C2EB8 100%);
    border-radius: 36px;
    position: relative;
  }
  
  .logoText {
    margin-left: 10px;
    font-family: 'Instrument Sans', sans-serif;
    font-weight: bold;
    color: darkgray;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    position: relative;
  }
  
  .links {
    display: flex;
    gap: 33px;
    justify-content: flex-end;
    align-items: center;
    width: 950px;
  }
  
  .navLink {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #444444;
    font-size: 15px;
    letter-spacing: -0.01em;
    line-height: 2em;
    text-align: left;
  }
  
  .iconButton {
    padding: 10px 15px;
    background: radial-gradient(circle, #545454 0%, #545454 100%);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
  }
  